@font-face {
    font-family: 'ZeroThrees';
    src: URL('ZeroThrees.ttf') format('truetype');
}

html, body {
    height: 100%;
}

html, body, section {
    margin: 0;
}

body {
    background-color: darkcyan;
    font-family: "ZeroThrees";
}

section {
    padding: 10px;
    max-width: 800px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(1, 167, 167);
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    box-shadow: 10px 10px 5px rgb(38, 38, 38);
}

div.body {
    flex: 1;
}

div.header, div.footer {
    text-align: center;
}

div.header span {
    font-size: 50px;
    font-weight: bold;
    display: block;
    color: rgb(0, 68, 68);
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 4px 4px rgb(38, 38, 38);
}

div.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 116, 116);
    overflow: hidden;
    box-shadow: 10px 10px 5px rgb(38, 38, 38);
}

div.header li {
    float: left
}

div.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.header li.selected {
    background-color: rgb(0, 80, 80);
}

div.body img {
    box-shadow: 4px 4px 5px rgb(38, 38, 38);

}
